.background {
  width: 100vw;
  height: 100vh;
  background: #3e1e68;
  position: absolute;
  z-index: -10;
  overflow: 'hidden';
}

$randomNumber: random(5);
$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;

.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (#583c87, #7a53fc, #8a54cb);
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.7) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(1px, 0, 1px) rotate(360deg);
  }
}



.description {
  margin-top: 3%;
}

.mb-3 {
  margin-left: 3%;
  margin-right: 3%;
}

.calculation {
  border: 2px solid green;
  padding: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.connectedWallet {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 3%;
}

#connectWallet {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 3%;
}
